<div class="row">
    <div class="col-5 col-sm-3">
        <p>1_タイトル</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.title|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>2_著者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.author|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>3_出版社</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.publisher|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>4_価格</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.price|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>5_ジャンル</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.get_ganre_display|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>6_販売形態</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.selltype|yesno:"紙媒体,電子版" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>7_購入日</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.buydate|date:"Y年m月d日" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>8_読書状態</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.get_readstatus_display|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>9_オヌヌメ度</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.get_recommended_display|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>10_メモ、感想</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.memo|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
